.conatiner {
  width: 1088px;
  padding: 0px 94px;
}

.card {
  width: 200px !important;
  height: 105px;
  background: #1E062E 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;

  &::hover {
    border: 1px solid #FFFFFF;
  }

}

img.rd-summitv {
  max-width: 200px;
  max-height: 105px;
  border-radius: 20px;
}

.card-img-active {
  width: 900px;
  height: 471px;
  margin: 42px 0;
  box-shadow: -10px 20px 50px #8F0DFF29;
  border-radius: 40px;
  position: relative;

  .img-active {
    width: 100%;
    height: 100%;
    border-radius: 40px;

    &.lock-active-img {
      padding: 100px;
    }
  }

  .footer-img {
    width: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 65px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 40px 40px;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}



img.lock {
  width: 18px;
  height: 24px;
  opacity: 1;
  margin: auto;
  height: inherit;
}

/* Estilização do Slick */

.slick-next {
  width: 40px !important;
  height: 40px !important;
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  background-image: url('../../assets/svg/arrow-right.svg') !important;
  box-shadow: 2px 2px 0px #FC2BEE;
  background-repeat: no-repeat;
  background-size: 13px !important;
  background-position: center !important;
  border-radius: 50%;

  &::before {
    display: none;
  }
}

.slick-prev {
  width: 40px !important;
  height: 40px !important;
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  background-image: url('../../assets/svg/arrow-left.svg') !important;
  box-shadow: 2px 2px 0px #FC2BEE;
  background-repeat: no-repeat;
  background-size: 13px !important;
  background-position: center !important;
  border-radius: 50%;

  &::before {
    display: none;
  }
}

.slick-list {
  transform: translate3d(0, 0, 0);
  width: 95% !important;
  margin: 0 auto !important;
}

.slick-next {
  right: -50px !important;
}

.slick-prev {
  left: -50px !important;
}

.slick-slider {
  margin-top: 20px;
}

.slick-dots li button:before {
  color: #FFFFFF !important;
  font-size: 9px !important;
}

.slick-dots li.slick-active button:before {
  color: #FFFFFF !important;
}

.slick-dots {
  bottom: -35px !important;
}